@media screen and (min-width: 768px) {

.responsive-pedido{
	display: none;
}

}


@media screen and (max-width: 767px) {



.rd-pedido{
	display: none;
}

.btn_full{
	background: #ec008c;
	color: white;
}

#cart_box a.btn_full, #cart_box .btn_full{
	color: white;
}



.Carrito{
	color: white;
}


.responsive-pedido{
	position:fixed;
	bottom:5px;
	width:100%;
	z-index: 1;
}

.card{
	font-size: 1em;
}

#cart_box{
	width: 100%;
	margin-bottom: 0;
  height: 100%;
}

.btn-cart{
	width: 40px;
	height: 40px;
	float: right;
	border-radius: 50%;
	text-align: center;
	justify-content: center;
}

.cart-rd{
	color: white;
}



.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.5);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: absolute;
    width: 100%;
    margin-top: 40px;

}

.overlay a {
    padding: 8px;
    color: #818181;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 20px;
    color: black;
    z-index: 1;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

